<div class="jumbotron text-center">
    <div class="container">
        <h1>Andrew's Blog</h1>
        <p>Sym</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h3>here are all the blogs!</h3>
          
            <ul>
                <li><a href="/posts/hello_world/">first!</a></li>
                <li><a href="/posts/blog1/">Something about computers?</a></li>
                <li><a href="/posts/blog2/">Problems with being lazy!</a></li>
                <li><a href="/posts/blog3/"Dear Internet!"</a></li>
            </ul>
    </div>
  </div>
</div>
