<div class="jumbotron text-center">
    <div class="container">
        <h1>MonoChrome Love</h1>
        <p>Sym</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Here are all the guides on how to be monochromatic so far!</h3>
          
            <ul>
                <li><a href="/posts/hello_world/">How to tell if a joke is in bad taste!</a></li>
                <li><a href="/posts/blog1/">When should you ignore someone for a month?</a></li>
                <li><a href="/posts/blog2/">How to lurk outside a house whilst you wait to be invitedn in!</a></li>
            </ul>
    </div>
  </div>
</div>
