
<div class="container">
<div class="row">
<h3>Hello World!</h3>
<p>Basically problem solving is, in the most simple form, don’t do a shit job as fast as possible.
You need to break apart the problem you face, take those parts individually and solve them.
As you are solving consider, how good does this need to be? Dependent on the answer, you then adapt how you make it to cater. If it doesn’t need to be the fastest, most advanced program in the world, there is no need to waste time making it that way. 
As long as it does what it needs to do at a level that is more than acceptable for what it is going to be used for, it is fine like that. That in essence is the art of problem solving and being lazy. 
Don’t do more work than you have too, because it’s not worth it when you could put that time to doing the next part of the problem, rather than making one part overly good. 
This did come from a man with dreads who is probably an atheist personality on YouTube, so its validity is questionable at best.</p>
</div>
</div>
</div>
