
<div class="container">
  <div class="row">
  <h3>The first actual blog!</h3>
    <p>So this is a blog, sounds like fun…
I hoped to gain quite a lot from this course, I was hoping to learn more about computer science as a career and the things that are associated with the subject as a whole. I hoped to expand my own experiences and maybe make my UCAS application a bit more vibrant and make a university actually want to accept me. I hope that as the course continues I will feel happier with my decision to attend, I hope that the sessions are fun and interesting but also worthwhile and have some real world benefit to my education. Unfortunately I don’t see this being the case, whilst so far it’s been fun and interesting, it hasn’t really been helpful and I don’t feel it will be as a whole. It seems that it will more be just another thing to put down in a list of achievements done and nothing more.
I hope the programming sessions will be useful and teach me the beginner’s knowledge to inspire me to pursue it once the week is over, but I doubt that will happen.
!</p>
   </div>
  </div>
</div>
